*{
    margin:0px;
    padding:0px;
}
.title-page{
    max-width: 100%;
    max-height: 600px;
    position: relative;
    overflow: hidden;
}
/* .background-video{
    max-width: 100%;
    max-height: 100%;
} */
#myVideo{
    max-width: 100%;
    max-height: 100%;
}
.title-blog{
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: lavenderblush;
}
#header{
    position: absolute;
    z-index: 3;
    font-family: 'Dancing Script', cursive;
}
.container {
    margin: auto;
    padding-top:6%;
    font-family: 'EB Garamond', serif;
}
 
.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  min-width: 100%;
}
.navbar h1{
    color: whitesmoke;
    font-size: 40px;
}

.navbar h1:hover{
    color: rgb(0, 174, 255);
}
.navbar a:hover{
    color: rgb(0, 174, 255);
}

 
.list-menu a {
  float: left;
  display: block;
  color: white;
  padding: 14px 60px;
  text-decoration: none;
  font-size: 20px;
}
  
.container  h2 a{
    color: black;
    font-size: 60px;
    text-decoration: none;
    transition: color 1s;
}
.container  h2 a:hover{
    color: rgb(0, 174, 255);
    text-decoration: none;
}

.container .content h4{
    font-family: 'Prompt', sans-serif;
}
.title h1 a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}

ul li{
    list-style-type: none;
    float: right;
}
.login-account{
    width: 200%;
}
.login-account ul li{
    padding-right: 10px;
}
.submit-comments{
    float: right;
}
/* .content-comments{

} */
.comment-author img{
    display: block;
    max-width:100px;
    max-height:40px;
    width: auto;
    height: auto;
}
