*{
    margin:0px;
    padding:0px;
}

#page-container {
    position: relative;
    /* min-height: 80vh; */
}
  
.container {
    width:50%;
    margin: auto;
    padding-top:6%;
}
 
.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar a:hover{
    color: rgb(0, 174, 255);
}
 
.list-menu a {
  float: left;
  display: block;
  color: white;
  padding: 14px 60px;
  text-decoration: none;
  font-size: 17px;
}
.navbar h1{
    color:white;
    font-size: 25px;
    
}
.top-content {
    height: 350px;
    background-position-y: 13px;
    background-image: url("/img/logo.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 200px 5px 50px;
    color:white;
    background-color: #0e0e0e;
    
}
.title-top-content a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
#footer{
    height: 300px;
    background-color: #282828;
    position: absolute; 
    /* bottom: 0; */
    width: 100%;
    /* height: 2.5rem;   */
}
#content-footer{
    color:white;
    padding-top:30px;
    margin-top :30px;
}
#content-footer ul{
    list-style: none;
}
#content-footer a{
    text-decoration: none;
    color:#757575 ;
}
#content-footer a:hover{
        color:white; 
}
#content-footer .box{
    width: 24%;
    float: left;
}
.container {
    max-width: 1000px;
    margin: 0px auto;
}
.title h1 a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
.button_open{
    display: block;
    clear: both;
    width: 130px;
    margin: .4375em 0 1.75em;
    text-align: center;
    background-color: cornflowerblue;
    font-size: 20px;
    padding: 10px 10px;
    color:white;
    border-radius: 4%;
}
ul li{
    list-style-type: none;
    float: right;
}
.login-account{
    width: 200%;
}
.login-account ul li{
    padding-right: 10px;
}
.submit-comments{
    float: right;
}
/* .content-comments{

} */
.comment-author img{
    display: block;
    max-width:100px;
    max-height:40px;
    width: auto;
    height: auto;
}
